wcfCheckinPlaces/test/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23792/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfCheckinPlaces" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenFromCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenFromCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccessTokenFromCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFoodFacebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="access_token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFoodFacebookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFoodFacebookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAlbumsImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAlbumsImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllAlbumsImagesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPhotoImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="access_token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="albumID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPhotoImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllPhotoImagesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAlbums">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="access_token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAlbumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllAlbumsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoffeeFacebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="access_token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoffeeFacebookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCoffeeFacebookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcfCheckinPlaces" minOccurs="0" name="location" nillable="true" type="q1:Location" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcfCheckinPlaces" minOccurs="0" name="datum" nillable="true" type="q2:Datum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcfCheckinPlaces" minOccurs="0" name="root" nillable="true" type="q3:RootObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>